<nav class="navbar">
  <div class="brand-title">Stacks Of Wax</div>
  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="#">About</a></li>
      <% if (user) { %>
      <li><a href="#">Account</a></li>
      <li><a href="/logout" id="logout">Logout</a></li>
      <% } else { %>
      <li><a href="/login">Log In</a></li>
      <% } %>
    </ul>
  </div>
</nav>
