<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../globals.css" />
    <link href="https://fonts.cdnfonts.com/css/norse" rel="stylesheet">
    <link rel="stylesheet" href="../navbar.css" />
    <link rel="stylesheet" href="../footer.css" />
    <link rel="stylesheet" href="../error.css" />
    <title>500 | Server Error</title>
</head>
<body>
    <%- include("./partials/navbar") %>
    <main class="main">
        <h3>Looks like something went wrong on our end... Please email <u>support@stacksofwax.com</u> to file a bug report</h3>
        <img src="https://images.unsplash.com/photo-1612933510543-5b442296703b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YWNjaWRlbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="500">
    </main>
    <%- include("./partials/footer") %>
</body>
<script src="../navbar.js"></script>
</html>