<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="globals.css">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="login.css">

    <title>Log In</title>
  </head>
  <body>
    <%- include("./partials/navbar") %>
    <div class="container">
        <header class="form-header">
          <h1 class="main-heading">Log In</h1>
          <% if (messages.error) { %>
            <h3 class="error-message"><%= messages.error %></h3>
          <% } else if (messages.success) { %>
            <h3 class="success-message"><%= messages.success %></h3>
            <% } %>
        </header>
        <form class="form" method="POST" action="/login">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="you@example.com"
            required
          ></input>
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Type your password"
            required
          ></input>
          <button type="submit">Log In</button>
        </form>
        <a href="/register">Don't have an account?, sign up here!</a>
      </div>
  </body>
  <script src="navbar.js"></script>
</html>
