.flex-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 75%;
  max-width: 1100px;
}

.page-header {
  background: rgb(255, 255, 255);
  border-radius: 0 0 5px 5px;
  padding: 0.5rem;
  margin: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  min-width: calc(100% - 1rem);
}

.btn {
  width: 12rem;
  color: white;
  font-size: large;
  border: none;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: rgb(1, 174, 94);
  transition: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.btn:hover {
  background-color: rgb(3, 200, 108);
  transform: scale(1.03);
  cursor: pointer;
}

.edit-review {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
}

.review-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-weight: bold;
  text-align: left;
  padding-top: 1rem;
}

input {
  height: 2.25rem;
  width: 20rem;
  border: 1px solid grey;
  border-radius: 5px;
  padding-left: 0.5rem;
  transition: 0.1s;
}

textarea {
  resize: none;
  height: 12rem;
  border-radius: 5px;
  padding-left: 0.5rem;
  transition: 0.1s;
  line-height: 1.2rem;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(0, 255, 94);
}
