.flex-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 75%;
  max-width: 1100px;
}

.banner-image {
  overflow: hidden;
  max-height: 300px;
  width: calc(100% - 1rem);
  aspect-ratio: 16 / 9;
  object-position: center;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  margin: 0.5rem;
  margin-bottom: -0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px 8px white inset;
}

.page-header {
  background: rgb(255, 255, 255);
  border-radius: 0 0 5px 5px;
  padding: 0.5rem;
  margin: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  min-width: calc(100% - 1rem);
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.right-info {
    border-left: 1px solid grey;
}

h2,
h3 {
  margin: 0;

  transition: 0.2s;
}

h2:hover,
h3:hover {
  transform: scale(1.01);
}

h2,
h3,
.header-text {
  padding-left: 1rem;
  padding-right: 8rem;
}

.header-text {
  line-height: 1.5;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  color: gray;
}

.like-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.like-form > a {
    color: black;
    padding-left: 1rem;
    text-decoration: none;
}

.like-btn {
  height: 2.5rem;
  width: 6rem;
  color: white;
  background-color: rgb(117, 117, 255);
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  margin-top: 0.25rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  transition: 0.2s;
}

.like-btn:hover {
  transform: scale(1.25);
  cursor: pointer;
  background-color: blue;
}

ul {
  padding-left: 1.5rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 100%;
  padding-bottom: 3rem;
}

.card {
  justify-self: center;
  background: white;
  width: 300px; /* */
  margin: 0.5rem;
  border: none;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: black;
}

.card-header {
  height: 300px;
  width: 100%;
  font-size: 1.5rem;
  padding: 0%;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.card-image {
  display: block;
  height: 300px;
  width: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  transition: 0.2s transform ease-in-out;
}

.card:hover > .card-header > .card-image {
  transform: scale(1.025);
}

.card:hover {
  cursor: pointer;
}

.card-body {
  padding: 0 1rem;
}

.vinyl-name,
.vinyl-year,
.vinyl-artist {
  padding: 0%;
  margin: 0.5rem;
}

.vinyl-year,
.vinyl-artist {
  color: grey;
}

.card-footer {
  margin-top: 1rem;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}

.btn {
  width: 12rem;
  color: white;
  font-size: large;
  border: none;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: rgb(1, 174, 94);
  transition: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.btn.link {
  width: auto;
  margin-right: 1rem;
}

.btn:hover {
  background-color: rgb(3, 200, 108);
  transform: scale(1.03);
  cursor: pointer;
}

.create-review {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.review-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-weight: bold;
  text-align: left;
  padding-top: 1rem;
}

input {
  height: 2.25rem;
  width: 20rem;
  border: 1px solid grey;
  border-radius: 5px;
  padding-left: 0.5rem;
  transition: 0.1s;
}

textarea {
  resize: none;
  height: 12rem;
  border-radius: 5px;
  padding-left: 0.5rem;
  transition: 0.1s;
  line-height: 1.2rem;
}

.warning {
  color: rgb(166, 0, 0);
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 0;
}

.link-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#rating-display {
  margin-top: 0;
  text-decoration: underline;
  font-weight: bold;
}

.header-text.review-text {
  color: black;
  font-weight: 500;
}

.header-text.review-stars {
  margin-bottom: 0;
}

.header-text.review-info {
  margin-top: 0;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgb(0, 255, 94);
}

.review-title-input.disabled,
.disabled {
  background-color: gray;
}

.disabled:focus {
  box-shadow: none;
}

.btn.disabled:hover, .like-btn.disabled:hover {
  transform: none;
  background-color: grey;
}

@media screen and (max-width: 800px) {
  h2,
  h3,
  .header-text {
    padding-left: 0.5rem;
    padding-right: 0;
  }

  .like-btn {
    margin-left: 0.5rem;
  }

  .like-form > a {
    padding-left: 0.5rem;
  }
}
