.flex-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 75%;
  max-width: 1100px;
}

.banner-image {
  overflow: hidden;
  max-height: 300px;
  width: calc(100% - 1rem);
  aspect-ratio: 16 / 9;
  object-position: center;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  margin: 0.5rem;
  margin-bottom: -0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
  background: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  min-width: calc(100% - 1rem);
}

.welcome-header {
    padding-left: 1rem;
}

.welcome-header.profile-name {
    padding-left: 0;
}

.review-container {
    padding-left: 1rem;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.info-container {
  display: flex;
  justify-content: space-between;
}

.success-message {
  text-align: center;
  background-color: rgba(111, 255, 0, 0.479);
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 0.2rem;
}

.pic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-width: 60%;
  margin-right: 0.5rem;
  border-radius: 5px;
}

.profile-pic {
  border-radius: 5px;
  height: 300px;
  width: 300px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.553);
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-left: 1px solid grey;
  padding-left: 1rem;
  min-width: 40%;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 100%;
}

.card {
  justify-self: center;
  background: white;
  width: 300px; /* */
  margin: 0.5rem;
  border: none;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: black;
}

.card-header {
  height: 300px;
  width: 100%;
  font-size: 1.5rem;
  padding: 0%;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.card-image {
  display: block;
  height: 300px;
  width: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  transition: 0.2s transform ease-in-out;
}

.card:hover > .card-header > .card-image {
  transform: scale(1.025);
}

.card:hover {
  cursor: pointer;
}

.card-body {
  padding: 0 1rem;
}

.delete-btn, .rename-btn {
  color: white;
  height: 1.5rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  background-color: rgb(255, 58, 58);
  transition: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.rename-btn {
  background-color: rgb(74, 173, 74);
  margin-right: 0.5rem;
}

.rename-btn:hover {
  transform: scale(1.25);
  cursor: pointer;
  background-color: green;
}

.delete-btn:hover {
  transform: scale(1.25);
  cursor: pointer;
  background-color: red;
}

h2,
h3 {
  margin: 0;
  text-decoration: underline;
  transition: 0.2s;
}

h2:hover,
h3:hover {
  transform: scale(1.01);
}

h2,
h3,
.header-text {
  padding-left: 0;
}

h3 > a {
    color: gray;
}

.header-text {
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 0.5rem;
  color: gray;
}

.vinyl-name,
.vinyl-year,
.vinyl-artist {
  padding: 0%;
  margin: 0;
  padding-top: 0.2rem;
  padding-bottom: 0;
}

.vinyl-year,
.vinyl-artist {
  color: grey;
}

.card-footer {
  margin-top: 1rem;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}

.btn-container {
  display: flex;
  justify-content: flex-start;
}

.btn {
  color: white;
  font-size: large;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: rgb(1, 174, 94);
  transition: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn.filter-btn:hover {
  background-color: rgb(3, 200, 108);
  transform: scale(1.03);
  cursor: pointer;
}

.header-text.review-text {
    color: black;
    font-weight: 500;
  }
  
  .header-text.review-stars {
    margin-bottom: 0;
  }
  
  .header-text.review-info {
    margin-top: 0;
  }

@media screen and (max-width: 900px) {
  h2,
  h3,
  .header-text {
    padding: 0%;
  }

  .welcome-header {
    text-align: center;
  }

  .info-container {
    flex-direction: column;
  }

  .user-info {
    align-items: center;
    border-left: none;
    padding-left: 0;
  }

  .info-bottom {
    display: none;
  }

  .pic-container {
    display: flex;
    margin-right: 0;
    padding-top: 0;
  }

  .profile-pic {
    height: 300px;
    width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .profile-pic {
    height: 250px;
    width: 250px;
  }
}
